$def with (content)
<!doctype HTML>
<html>
<head>
  <title>$content.title</title>
  <!-- Pre-fill hashcodes so SPF won't load resources twice -->
  $ demo_css = "/static/demo.css"
  <link id="css-$hashcode(demo_css)" rel="stylesheet" href="$demo_css" data-loaded="true">
  $:content.stylesheet
</head>
<body>
  <div id="masthead">
    <strong>S</strong>tructured <strong>P</strong>age <strong>F</strong>ragments
    <span class="info">
      Status: <span id="demo-status">Disabled</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Last refresh: <span id="demo-timer">0</span>s ago
    </span>
  </div>
  <div id="nav">
    <!-- pages for testing navigation -->
    <ul style="float:right">
      <li class="nav-page1"><a class="spf-link" href="/page/1">Page 1</a></li>
      <li class="nav-page2"><a class="spf-link" href="/page/2">Page 2</a></li>
      <li class="nav-page3"><a class="spf-link" href="/page/3">Page 3</a></li>
      <li class="nav-page4"><a class="spf-link" href="/page/4">Page 4</a></li>
      <li class="nav-page5"><a class="spf-link" href="/page/5">Page 5</a></li>
      <li class="nav-page6"><a class="spf-link" href="/page/6">Page 6</a></li>
    </ul>
    <!-- pages with real content -->
    <ul>
      <li class="nav-home"><a class="spf-link" href="/">Overview</a></li>
      <li class="nav-spec"><a class="spf-link" href="/spec">Spec</a></li>
    </ul>
  </div>
  <div id="content" class="spf-transition">
    $:content
  </div>
  </div>
  <div id="footer">
    Etc.
  </div>
  <!-- Pre-fill hashcodes so SPF won't load resources twice -->
  $if debug:
    $ spf_js = "/static/debug-spf.js"
  $else:
    $ spf_js = "/static/spf.js"
  <script id="js-$hashcode(spf_js)" src="$spf_js" data-loaded="true"></script>
  $ demo_js = "/static/demo.js"
  <script id="js-$hashcode(demo_js)" src="$demo_js" data-loaded="true"></script>
  <script>
    demo.init();
  </script>
  $:content.javascript
</body>
</html>
