$def with (page_num)

$def _stylesheet():
  <!-- This style is inlined here for demo purposes. -->
  <style type="text/css">
    .page .samples { overflow: hidden; }
    .page p { float: left;
              width: 44%; height: 9em;
              margin: 1em; padding: 1em;
              border: 1px solid #eee; }
    .page .sun { display: inline-block;
                 padding: 0.5em;
                 border: 1px solid #fff; }
    .page a:hover .sun { border-color: #000; }
    .page .sun img { height: 3em;
                     vertical-align: middle; }
  </style>
  $ page_css = "/static/demo-page.css"
  <!-- Pre-fill the hashcode so SPF won't load the stylesheet twice -->
  <link id="css-$hashcode(page_css)" rel="stylesheet" href="$page_css">

$def _attributes():
  { "nav": { "class": "page$page_num" } }

$var title: Demo Page $page_num
$var stylesheet: $:_stylesheet()
$var javascript:
$var attributes: $:_attributes()

<div id="page" class="pane page">
  <h1>Demo Page $page_num</h1>
  <!-- Place an external script in the middle of a content fragment to illustrate support -->
  <!-- Pre-fill the hashcode and data attribute so SPF won't load the script twice -->
  $ page_js = "/static/demo-page.js"
  <script id="js-$hashcode(page_js)" src="$page_js" data-loaded="true"></script>
  <script type="text/javascript">
    if (window.console) {
      window.console.log('demo: embedded javascript - page $page_num');
      window.console.log('demo: external js is loaded = ' + !!(window.demo && demo.page && demo.page.loaded));
    }
  </script>

  <div>
    This page is for demonstration purposes only.
  </div>

  <div class="samples">
    <p>
      <strong>Sample <code>spf-link</code> links:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a class="spf-link" href="/">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a class="spf-link" href="/spec">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="spf-link" href="/page/1">Page 1</a>
      <a class="spf-link" href="/page/2">Page 2</a>
      <a class="spf-link" href="/page/3">Page 3</a>
      <a class="spf-link" href="/page/4">Page 4</a>
      <a class="spf-link" href="/page/5">Page 5</a>
      <a class="spf-link" href="/page/6">Page 6</a>
    </p>
    <p>
      <strong>Sample links:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a href="/">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a href="/spec">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/page/1">Page 1</a>
      <a href="/page/2">Page 2</a>
      <a href="/page/3">Page 3</a>
      <a href="/page/4">Page 4</a>
      <a href="/page/5">Page 5</a>
      <a href="/page/6">Page 6</a>
    </p>
    <p>
      <strong>Sample links in a <code>spf-link</code> container:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <span class="spf-link">
        <a href="/">
          <span class="sun">
            <img src="/static/sun.png">Overview
          </span>
        </a>
        <a href="/spec">Spec</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/page/1">Page 1</a>
        <a href="/page/2">Page 2</a>
        <a href="/page/3">Page 3</a>
        <a href="/page/4">Page 4</a>
        <a href="/page/5">Page 5</a>
        <a href="/page/6">Page 6</a>
      </span>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links in a <code>spf-nolink</code> container:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <span class="spf-nolink">
        <a class="spf-link" href="/">
          <span class="sun">
            <img src="/static/sun.png">Overview
          </span>
        </a>
        <a class="spf-link" href="/spec">Spec</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="spf-link" href="/page/1">Page 1</a>
        <a class="spf-link" href="/page/2">Page 2</a>
        <a class="spf-link" href="/page/3">Page 3</a>
        <a class="spf-link" href="/page/4">Page 4</a>
        <a class="spf-link" href="/page/5">Page 5</a>
        <a class="spf-link" href="/page/6">Page 6</a>
      </span>
    </p>
    <p>
      <strong>Sample buttons to load content via JavaScript <em>with</em> navigation:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <button onclick="spf.navigate('/')">Overview</button>
      <button onclick="spf.navigate('/spec')">Spec</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="spf.navigate('/page/1')">Page 1</button>
      <button onclick="spf.navigate('/page/2')">Page 2</button>
      <button onclick="spf.navigate('/page/3')">Page 3</button>
      <button onclick="spf.navigate('/page/4')">Page 4</button>
      <button onclick="spf.navigate('/page/5')">Page 5</button>
      <button onclick="spf.navigate('/page/6')">Page 6</button>
    </p>
    <p>
      <strong>Sample buttons to load content via JavaScript <em>without</em> navigation:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should not</em> update.
      <br>
      <button onclick="spf.load('/')">Overview</button>
      <button onclick="spf.load('/spec')">Spec</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="spf.load('/page/1')">Page 1</button>
      <button onclick="spf.load('/page/2')">Page 2</button>
      <button onclick="spf.load('/page/3')">Page 3</button>
      <button onclick="spf.load('/page/4')">Page 4</button>
      <button onclick="spf.load('/page/5')">Page 5</button>
      <button onclick="spf.load('/page/6')">Page 6</button>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links with non-200 responses:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      404 Not Found: <a class="spf-link" href="/missing">Missing</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      303 See Other: <a class="spf-link" href="/other/foo">Other Foo</a>
    </p>
    <p>
      <strong>Sample links with non-200 responses:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      404 Not Found: <a href="/missing">Missing</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      303 See Other: <a href="/other/foo">Other Foo</a>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links without <code>href</code> attributes:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should not</em> update.
      <br>
      <!-- missing hrefs point nowhere -->
      <a class="spf-link">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a class="spf-link">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- emtpy hrefs point to the same page -->
      <a class="spf-link" href="">Page 1</a>
      <a class="spf-link" href="">Page 2</a>
      <a class="spf-link" href="">Page 3</a>
      <a class="spf-link" href="">Page 4</a>
      <a class="spf-link" href="">Page 5</a>
      <a class="spf-link" href="">Page 6</a>
    </p>
    <p>
      <strong>Sample links with <code>spf-link</code> children:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a href="/">
        <span class="sun spf-link">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a href="/spec"><span class="spf-link">Spec</span></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/page/1"><span class="spf-link">Page 1</span></a>
      <a href="/page/2"><span class="spf-link">Page 2</span></a>
      <a href="/page/3"><span class="spf-link">Page 3</span></a>
      <a href="/page/4"><span class="spf-link">Page 4</span></a>
      <a href="/page/5"><span class="spf-link">Page 5</span></a>
      <a href="/page/6"><span class="spf-link">Page 6</span></a>
    </p>
  </div>
</div>
