$def with (page_num)

$if page_num == '1':
  $ page_color = 'red'
$elif page_num == '2':
  $ page_color = 'orange'
$elif page_num == '3':
  $ page_color = 'yellow'
$elif page_num == '4':
  $ page_color = 'green'
$elif page_num == '5':
  $ page_color = 'blue'
$elif page_num == '6':
  $ page_color = 'purple'
$else:
  $ page_color = 'black'

$def _stylesheet():
  <!-- This style is limited to this page only for demo purposes. -->
  <style type="text/css">
    .page$page_num h1 { color: $page_color; }
    .page h1 { text-shadow: 0 0 .15em rgba(0, 0, 0, 0.4); }
    .page .sun { display: inline-block; border: 1px solid #FFF; padding: 0.5em; }
    .page a:hover .sun { border-color: #000; }
    .page .sun img { height: 3em; vertical-align: middle; }
  </style>

$def _javascript():
  <script type="text/javascript">
    console.log('demo: page javascript - page $page_num');
  </script>

$var title: Demo Page $page_num
$var stylesheet: $:_stylesheet()
$var javascript: $:_javascript()

<div id="page" class="pane page page$page_num">
  <h1>Demo Page $page_num</h1>
  <script type="text/javascript">
    console.log('demo: embedded javascript - page $page_num');
  </script>

  <p>
    This page is for demonstration purposes only.
    The title should be $page_color.
  </p>

  <p>
    Sample non-SPF links:
    <br>
    <a href="/">Overview</a>
    <a href="/spec">Spec</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/page/1">Page 1</a>
    <a href="/page/2">Page 2</a>
    <a href="/page/3">Page 3</a>
    <a href="/page/4">Page 4</a>
    <a href="/page/5">Page 5</a>
    <a href="/page/6">Page 6</a>
  </p>
  <p>
    Sample SPF link with children elements:
    <br>
    <a href="/" class="spf-link">
      <span class="sun">
        <img src="/static/sun.png">Overview
      </span>
    </a>
  </p>
  <p class="spf-nolink-container">
    Sample SPF links in a nolink container:
    <br>
    <a class="spf-link" href="/">Overview</a>
    <a class="spf-link" href="/spec">Spec</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="spf-link" href="/page/1">Page 1</a>
    <a class="spf-link" href="/page/2">Page 2</a>
    <a class="spf-link" href="/page/3">Page 3</a>
    <a class="spf-link" href="/page/4">Page 4</a>
    <a class="spf-link" href="/page/5">Page 5</a>
    <a class="spf-link" href="/page/6">Page 6</a>
  </p>
  <p>
    Sample buttons to load content via JavaScript without navigation:
    <br>
    <button onclick="spf.load('/')">Overview</button>
    <button onclick="spf.load('/spec')">Spec</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="spf.load('/page/1')">Page 1</button>
    <button onclick="spf.load('/page/2')">Page 2</button>
    <button onclick="spf.load('/page/3')">Page 3</button>
    <button onclick="spf.load('/page/4')">Page 4</button>
    <button onclick="spf.load('/page/5')">Page 5</button>
    <button onclick="spf.load('/page/6')">Page 6</button>
  </p>
</div>
