### {{longname}}

**Class**  
{{#description}}
{{{description}}}

{{/description}}
{{#hasMembers}}
**Attributes**  
{{#members}}
`{{name}}: {{#typesString}}{{{typesString}}}{{/typesString}}`{{#description}}  
{{{description}}}  {{/description}}
{{/members}}

{{/hasMembers}}
{{#methods}}
{{> function}}

{{/methods}}
