$def with (content, is_debug, is_dev, is_beta)
<!doctype HTML>
<html>
<head>
  <title>$content.title</title>
  <link rel="stylesheet" href="/static/app.css" name="app">
  $:content.stylesheet
</head>
<body>
  <div id="masthead">
    <strong>S</strong>tructured <strong>P</strong>age <strong>F</strong>ragments
    <span class="info">
      Status: <span id="app-status">Disabled</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Last refresh: <span id="app-timer">0</span>s ago
    </span>
  </div>
  <div id="nav">
    <!-- pages for testing navigation -->
    <ul style="float:right">
      <li class="nav-demo1"><a class="spf-link" href="/demo/1">Demo 1</a></li>
      <li class="nav-demo2"><a class="spf-link" href="/demo/2">Demo 2</a></li>
      <li class="nav-demo3"><a class="spf-link" href="/demo/3">Demo 3</a></li>
      <li class="nav-demo4"><a class="spf-link" href="/demo/4">Demo 4</a></li>
      <li class="nav-demo5"><a class="spf-link" href="/demo/5">Demo 5</a></li>
    </ul>
    <!-- pages with real content -->
    <ul>
      <li class="nav-home"><a class="spf-link" href="/">Overview</a></li>
      <li class="nav-spec"><a class="spf-link" href="/spec">Spec</a></li>
    </ul>
  </div>
  <div id="content" class="spf-animate">
    $:content
  </div>
  $if is_dev:
    $ spf_js = "/static/dev-spf-bundle.js"
  $elif is_debug:
    $if is_beta:
      $ spf_js = "/static/debug-spf-beta.js"
    $else:
      $ spf_js = "/static/debug-spf.js"
  $else:
    $if is_beta:
      $ spf_js = "/static/spf-beta.js"
    $else:
      $ spf_js = "/static/spf.js"
  <script src="$spf_js" name="spf"></script>
  <script src="/static/app.js" name="app"></script>
  <script>
    app.init($json_encode(is_beta));
  </script>
  $:content.javascript
</body>
</html>
