$def with (page_num)

$# Copyright 2014 Google Inc. All rights reserved.
$#
$# Use of this source code is governed by The MIT License.
$# See the LICENSE file for details.


$def _stylesheet():
  <!-- This style is inlined here for demo purposes. -->
  <style name="demo-inline">
    .demo p { float: left;
              width: 44%; height: 9em;
              margin: 1em; padding: 1em;
              border: 1px solid #eee; }
    .demo .sun { display: inline-block;
                 padding: 0.5em;
                 border: 1px solid #fff; }
    .demo a:hover .sun { border-color: #000; }
    .demo .sun img { height: 3em;
                     vertical-align: middle; }
  </style>
  <link rel="stylesheet" href="/static/app-demo.css" name="demo-external">

$def _attributes():
  { "nav": { "class": "demo$page_num" } }

$var title: Demo Page $page_num
$var stylesheet: $:_stylesheet()
$var javascript:
$var attributes: $:_attributes()

<div id="demo" class="pane demo">
  <h1>Demo Page $page_num</h1>
  <!-- Demonstrate scripts in the middle of a content fragment -->
  <script src="/static/app-demo.js" name="demo"></script>
  <script>
    app.log('demo $page_num: embedded javascript')
    app.log('external js is loaded = ' + !!(window.app && app.demo && app.demo.loaded));
  </script>

  <div>
    This page is for demonstration purposes only.
    <span id="demo-text">This text should be orange.</span>
  </div>

  <div class="samples">
    <p>
      <strong>Sample <code>spf-link</code> links:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a class="spf-link" href="/">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a class="spf-link" href="/spec">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="spf-link" href="/demo/1">Demo 1</a>
      <a class="spf-link" href="/demo/2">Demo 2</a>
      <a class="spf-link" href="/demo/3">Demo 3</a>
      <a class="spf-link" href="/demo/4">Demo 4</a>
      <a class="spf-link" href="/demo/5">Demo 5</a>
      <a class="spf-link" href="/demo/6">Demo 6</a>
    </p>
    <p>
      <strong>Sample links:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a href="/">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a href="/spec">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/demo/1">Demo 1</a>
      <a href="/demo/2">Demo 2</a>
      <a href="/demo/3">Demo 3</a>
      <a href="/demo/4">Demo 4</a>
      <a href="/demo/5">Demo 5</a>
      <a href="/demo/6">Demo 6</a>
    </p>
    <p>
      <strong>Sample links in a <code>spf-link</code> container:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <span class="spf-link">
        <a href="/">
          <span class="sun">
            <img src="/static/sun.png">Overview
          </span>
        </a>
        <a href="/spec">Spec</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/demo/1">Demo 1</a>
        <a href="/demo/2">Demo 2</a>
        <a href="/demo/3">Demo 3</a>
        <a href="/demo/4">Demo 4</a>
        <a href="/demo/5">Demo 5</a>
        <a href="/demo/6">Demo 6</a>
      </span>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links in a <code>spf-nolink</code> container:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <span class="spf-nolink">
        <a class="spf-link" href="/">
          <span class="sun">
            <img src="/static/sun.png">Overview
          </span>
        </a>
        <a class="spf-link" href="/spec">Spec</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="spf-link" href="/demo/1">Demo 1</a>
        <a class="spf-link" href="/demo/2">Demo 2</a>
        <a class="spf-link" href="/demo/3">Demo 3</a>
        <a class="spf-link" href="/demo/4">Demo 4</a>
        <a class="spf-link" href="/demo/5">Demo 5</a>
        <a class="spf-link" href="/demo/6">Demo 6</a>
      </span>
    </p>
    <p>
      <strong>Sample buttons to load content via JavaScript <em>with</em> navigation:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <button onclick="spf.navigate('/')">Overview</button>
      <button onclick="spf.navigate('/spec')">Spec</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="spf.navigate('/demo/1')">Demo 1</button>
      <button onclick="spf.navigate('/demo/2')">Demo 2</button>
      <button onclick="spf.navigate('/demo/3')">Demo 3</button>
      <button onclick="spf.navigate('/demo/4')">Demo 4</button>
      <button onclick="spf.navigate('/demo/5')">Demo 5</button>
      <button onclick="spf.navigate('/demo/6')">Demo 6</button>
    </p>
    <p>
      <strong>Sample buttons to load content via JavaScript <em>without</em> navigation:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should not</em> update.
      <br>
      <button onclick="spf.load('/')">Overview</button>
      <button onclick="spf.load('/spec')">Spec</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button onclick="spf.load('/demo/1')">Demo 1</button>
      <button onclick="spf.load('/demo/2')">Demo 2</button>
      <button onclick="spf.load('/demo/3')">Demo 3</button>
      <button onclick="spf.load('/demo/4')">Demo 4</button>
      <button onclick="spf.load('/demo/5')">Demo 5</button>
      <button onclick="spf.load('/demo/6')">Demo 6</button>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links with non-200 responses:</strong>
      <br>
      A dynamic page transition <em>should</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      404 Not Found: <a class="spf-link" href="/missing">Missing</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      303 See Other: <a class="spf-link" href="/other/foo">Other Foo</a>
    </p>
    <p>
      <strong>Sample links with non-200 responses:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      404 Not Found: <a href="/missing">Missing</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      303 See Other: <a href="/other/foo">Other Foo</a>
    </p>
    <p>
      <strong>Sample <code>spf-link</code> links without <code>href</code> attributes:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should not</em> update.
      <br>
      <!-- missing hrefs point nowhere -->
      <a class="spf-link">
        <span class="sun">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a class="spf-link">Spec</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- emtpy hrefs point to the same page -->
      <a class="spf-link" href="">Demo 1</a>
      <a class="spf-link" href="">Demo 2</a>
      <a class="spf-link" href="">Demo 3</a>
      <a class="spf-link" href="">Demo 4</a>
      <a class="spf-link" href="">Demo 5</a>
      <a class="spf-link" href="">Demo 6</a>
    </p>
    <p>
      <strong>Sample links with <code>spf-link</code> children:</strong>
      <br>
      A dynamic page transition <em>should not</em> occur when clicked.
      <br>
      The URL <em>should</em> update.
      <br>
      <a href="/">
        <span class="sun spf-link">
          <img src="/static/sun.png">Overview
        </span>
      </a>
      <a href="/spec"><span class="spf-link">Spec</span></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/demo/1"><span class="spf-link">Demo 1</span></a>
      <a href="/demo/2"><span class="spf-link">Demo 2</span></a>
      <a href="/demo/3"><span class="spf-link">Demo 3</span></a>
      <a href="/demo/4"><span class="spf-link">Demo 4</span></a>
      <a href="/demo/5"><span class="spf-link">Demo 5</span></a>
      <a href="/demo/6"><span class="spf-link">Demo 6</span></a>
    </p>
  </div>
</div>
