$# Copyright 2012 Google Inc. All rights reserved.
$#
$# Use of this source code is governed by The MIT License.
$# See the LICENSE file for details.

$def _stylesheet():
  <style name="home-ajax">
    #home .lucky-num {
      font-weight: bold;
    }
  </style>

$def _attributes():
  { "home_ajax_out": { "style": "border: 1px solid blue",
                       "class": "lucky-num",
                       "title": "You have a lucky number!" } }

$def _home_ajax_out():
  <li>Your lucky number is $randint(1, 100).</li>

$var stylesheet: $:_stylesheet()
$var attributes: $:_attributes()
$var home_ajax_out: $:_home_ajax_out()
