$# Copyright 2013 Google Inc. All rights reserved.
$#
$# Use of this source code is governed by The MIT License.
$# See the LICENSE file for details.

$def _attributes():
  { "nav": { "class": "missing" } }

$var title: Missing
$var name: missing
$var stylesheet:
$var javascript:
$var attributes: $:_attributes()

<div id="missing" class="pane">
  <h1>Missing</h1>

  <p>The page you were looking for could not be found!</p>
</div>
