$# Copyright 2012 Google Inc. All rights reserved.
$#
$# Use of this source code is governed by The MIT License.
$# See the LICENSE file for details.

$def _stylesheet():
  <style name="spec">
    #spec pre em { background: #DDD; }
  </style>

$def _javascript():
  <script>
    app.log('spec: page javascript');
  </script>

$def _attributes():
  { "nav": { "class": "spec" } }

$var title: Spec
$var name: spec
$var stylesheet: $:_stylesheet()
$var javascript: $:_javascript()
$var attributes: $:_attributes()

<div id="spec" class="pane">
  <h1>Spec</h1>

  <pre>
    {
      "css":  "&lt;style type=\"text/css\"&gt;<em> CSS Text </em>&lt;/style&gt;
               &lt;link rel=\"stylesheet\" type=\"text/css\" href=\"<em> CSS URL </em>\"&gt;
               <em> &hellip; </em>",
      "attr":  {  "<em> DOM ID </em>":  {  "<em> Name </em>": "<em> Value </em>",
                                  "<em> &hellip; </em>": "<em> &hellip; </em>",
                               },
                  <em> &hellip; </em>
               },
      "html":  {  "<em> DOM ID </em>": "<em> HTML Text </em><em> &hellip; </em>",
                  "<em> DOM ID </em>": "<em> &hellip; </em>",
                  <em> &hellip; </em>
               },
      "js":  "&lt;script type=\"text/javascript\"&gt;<em> JS Text </em> &lt;/script&gt;
              &lt;script src=\"<em> JS URL </em>\"&gt;&lt;/script&gt;
              <em> &hellip; </em>",
      "title":  "<em> Document Title </em>"
    }
  </pre>
</div>
