$# Copyright 2014 Google Inc. All rights reserved.
$#
$# Use of this source code is governed by The MIT License.
$# See the LICENSE file for details.

$def _attributes():
  { "nav": { "class": "truncated" } }

$var title: Truncated
$var name: truncated
$var stylesheet:
$var javascript:
$var attributes: $:_attributes()

<div id="truncated" class="pane">
  <h1>Truncated</h1>

  <p>This page is artificially truncated when served as an SPF response to
  simulate chunking/multipart serving errors.</p>
</div>
