---
title: API
description: The JS API reference.
layout: api
---


{{#version}}The following API reference is for **{{version}}**.{{/version}}

{{#modules}}

* * *

{{#longname}}
## {{longname}}
{{/longname}}

{{#description}}
{{{description}}}

{{/description}}
{{#functions}}
{{> function}}

{{/functions}}
{{#classes}}
{{> class}}

{{/classes}}
{{/modules}}
