### {{longname}}

**Function**  
`{{longname}}({{#paramsString}}{{paramsString}}{{/paramsString}})`  
{{#description}}
{{{description}}}

{{/description}}
{{#deprecated}}
Deprecated: {{{deprecated}}}

{{/deprecated}}
{{#hasParams}}
**Parameters**  
{{#params}}
`{{name}}: {{#typesString}}{{{typesString}}}{{/typesString}}`{{#description}}  
{{{description}}}  {{/description}}
{{/params}}

{{/hasParams}}
{{#returns}}
**Returns**  
{{#typesString}}`{{{typesString}}}`{{/typesString}}{{#description}}  
{{{description}}}  {{/description}}

{{/returns}}
