---
layout: base
---

<main class="clear">

  <header class="page-header container">
    <h2 class="xxlarge text-divider">{{ page.title }}</h2>
    {% if page.description %}
      <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">
        {{ page.description }}
      </p>
    {% endif %}
  </header>

  <section class="download-promo">
    <div class="container">
      <ul class="list-centered list--reset clear">
        <li>
          <a class="button--primary" href="https://github.com/youtube/spfjs/releases/download/v2.0.0/spfjs-2.0.0-dist.zip">
            <i class="icon mega-octicon octicon-cloud-download"></i>
            <span>Download SPF</span>
          </a>
        </li>
        <li>
          <a class="button--secondary" href="https://github.com/youtube/spfjs/archive/v2.0.0.zip">
            <i class="icon mega-octicon octicon-code"></i>
            <span>Download source</span>
          </a>
        </li>
        <li>
          <a class="button--secondary" href="https://github.com/youtube/spfjs">
           <i class="icon mega-octicon octicon-mark-github"></i>
           <span>View on GitHub</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <div class="container">
    {{ content}}
  </div>

</main>
