---
layout: base
---

<section class="stage">
  <div class="container"><div class="container">
    <h1><abbr>SPF</abbr> <span>Structured Page Fragments</span></h1>
  </div></div>
</section>

<main class="clear">
  <div class="container">

    {{ content}}

  </div>
</main>

<section class="home-promo">
  <div class="container">
    <ul class="list-centered list--reset clear">
      <li class="g-medium--half g-wide--1 g-wide--push-1 theme--spf">
        <a class="themed" href="{{ site.baseurl }}/documentation/">
          <span class="icon-circle--large themed--background"><i class="icon icon-lessons"></i></span>
          <h3 class="large">Learn More</h3>
          <p></p>
        </a>
      </li>
      <li class="g-medium--half g-medium--last g-wide--1 g-wide--last theme--spf">
        <a class="themed" href="{{ site.baseurl }}/download/">
          <span class="icon-circle--large themed--background"><i class="icon icon-google-dev"></i></span>
          <h3 class="large">Get the Code</h3>
          <p></p>
        </a>
      </li>
    </ul>
  </div>
</section>
