/**
 * Stylesheet for the SPF demo app.
 *
 * @author nicksay@google.com (Alex Nicksay
 */


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.4;
  min-width: 45em;
}
#masthead {
  font-size: 1.25em;
  height: 1.2em;
  line-height: 1.2;
  padding: .4em .8em;
  color: #FFF;
  background: #444;
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#555555, endColorStr=#333333);
}
#masthead strong {
  font-size: 1.2em;
  font-weight: normal;
}
#masthead .info {
  float: right;
  line-height: 2em;
  font-size: .6em;
  color: #DDD;
}
#app-status {
  color: #F00;
  font-weight: bold;
  text-shadow: 0 0 .1em #000;
}
#app-status.enabled {
  color: #19B319;
}
#nav {
  font-size: 1.2em;
  height: 1.4em;
  padding: 0 .8333em;
  border-bottom: .1em solid #EEE;
  background: #BBB;
  background-image: -moz-linear-gradient(top, #DDD, #F3F3F3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#F3F3F3));
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#DDDDDD, endColorStr=#F3F3F3);
}
#nav ul, li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
#nav a {
  padding: .2em .5em;
  color: #000;
  text-decoration: none;
  -webkit-transition: background 300ms linear;
}
#nav a:hover {
  text-decoration: underline;
}
#nav.home .nav-home a,
#nav.spec .nav-spec a,
#nav.demo1 .nav-demo1 a,
#nav.demo2 .nav-demo2 a,
#nav.demo3 .nav-demo3 a,
#nav.demo4 .nav-demo4 a,
#nav.demo5 .nav-demo5 a {
  background: rgba(0, 0, 0, .2);
}
#content {
  height: 100%;
}
#content .pane {
  padding: 0 2em;
  overflow: hidden;
}
#footer {
  border-top: 1px solid #EEE;
  font-size: .8em;
  color: #CCC;
  padding: .2em .6em;
}

.spf-animate {
  position: relative;
}
.spf-animate .spf-animate-old,
.spf-animate .spf-animate-new {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: left 400ms ease;
  -moz-transition: left 400ms ease;
  -ms-transition: left 400ms ease;
  -o-transition: left 400ms ease;
  transition: left 400ms ease;
}
/* Forward transitions slide in from right to left */
.spf-animate-forward-start .spf-animate-old {
  left: 0%;
}
.spf-animate-forward-start .spf-animate-new {
  left: 120%;
}
.spf-animate-forward-end .spf-animate-old {
  left: -120%;
}
.spf-animate-forward-end .spf-animate-new {
  left: 0%;
}
/* Reverse transitions slide in from left to right */
.spf-animate-reverse-start .spf-animate-old {
  left: 0%;
}
.spf-animate-reverse-start .spf-animate-new {
  left: -120%;
}
.spf-animate-reverse-end .spf-animate-old {
  left: 120%;
}
.spf-animate-reverse-end .spf-animate-new {
  left: 0%;
}
